annotated-types==0.7.0
anyio==4.14.2
av==18.0.0
bottle==0.13.4
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
contourpy==1.3.3
coverage==7.15.1
ctranslate2==4.8.1
cycler==0.12.1
dotenv==0.9.9
emcee==3.1.6
et_xmlfile==2.0.0
faster-whisper==1.2.1
filelock==3.29.7
flatbuffers==25.12.19
fonttools==4.63.0
fsspec==2026.6.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.23.0
idna==3.18
iniconfig==2.3.0
kiwisolver==1.5.0
llvmlite==0.48.0
matplotlib==3.11.0
numba==0.66.0
numpy==2.4.6
ollama==0.6.2
onnxruntime==1.27.0
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
Paste==3.10.1
patsy==1.0.2
pillow==12.3.0
pluggy==1.6.0
protobuf==7.35.1
py_agata==0.0.8
py_replay_bg==1.4.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
scipy==1.17.1
six==1.17.0
statsmodels==0.14.6
tokenizers==0.23.1
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
